* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: Larish, serif;
}

p,
a {
  font-family: "Work Sans", sans-serif;
}

a.buttonRSVP {
  display: inline-block;
  font-size: clamp(0.5rem, 1.2rem, 2rem);

  color: #fff;
  text-decoration: none;
  padding: 1.5% 3.5%;
  border: 1px solid;
  transition: all 0.7s ease;
}
a.buttonRSVP:hover {
  background-color: #fff;
  color: #000;
}
