@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@font-face {
  font-family: Larish;
  src: url(../fonts/LarishNeueSemibold.woff);
}
@import "_general.scss";
@import "_mixin.scss";

// GENERAL FORMATTING (Weitere GENERALS unter _general.scss) /////////////////////////////////

.flexContainer {
  @include flexContainer;
}
.flexContainerCenter {
  @include flexContainerCenter;
}
.bgWhite {
  background-color: #fff;
}
.bgBlack {
  background-color: #000;
}
.fontBlack {
  color: #000;
}
header .bearContainer,
.heroSection,
.goldenSection,
.poppySection,
.joinSection,
footer {
  padding: 0 8%;
}
span {
  color: black;
  -webkit-text-stroke: 2px #fff;
}
h1 {
  font-size: clamp(3rem, 1.3251rem + 6.3054vw, 7rem);
  line-height: 1.1em;
}
h2 {
  font-size: clamp(3rem, 1.7438rem + 4.7291vw, 6rem);
  line-height: 1em;
  padding-bottom: 2%;
}
.pBig {
  font-family: Larish, serif;
  font-size: clamp(3rem, 1.3251rem + 6.3054vw, 7rem);
  padding-bottom: 2%;
}
.pSmall {
  font-size: clamp(1rem, 0.7906rem + 0.7882vw, 1.5rem);
}
blockquote .quoteText,
section .joinArticleText {
  font-family: Larish;
  font-size: clamp(1rem, 0.5813rem + 1.5764vw, 2rem);
}

//HEADER /////////////////////////////////
.verticalLine {
  width: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  height: 25%;
  position: absolute;
  left: 50%;
}
.headerSection {
  position: relative;
  h1 {
    font-size: clamp(3rem, 1.7438rem + 4.7291vw, 6rem);
    width: 80%;
    text-align: center;
    line-height: 0.8em;
  }
  p {
    padding: 1.5% 0;
  }
  .flexContainerColumn {
    height: 85vh;
    padding-top: 5%;
    @include flexContainerColumn;
  }
  .bearContainer {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5%;
  }
}

//SECTION:  Hero  ///////////////////
.heroSection {
  background: url(../img/map.svg) no-repeat right bottom;
  background-size: 50%;
  padding-bottom: 10%;
  h1 {
    padding: 10% 0;
  }
  .pSmall {
    padding: 0 0 0.6% 0;
  }
}

//SECTION:  Stuck in the middle /////////////////////////////////
.stuckSection {
  position: relative;
  img {
    position: absolute;
  }
  .img1 {
    top: -4%;
    right: 10%;
    width: 25%;
  }
  .img2 {
    top: 16%;
    left: 5%;
    width: 20%;
  }
  .img3 {
    top: 37%;
    right: 0;
    width: 20%;
  }
  .img4 {
    top: 46%;
    left: 20%;
    width: 23%;
  }
  .img5 {
    top: 55%;
    right: 14%;
    width: 25%;
  }
  .img6 {
    top: 70%;
    left: 0;
    width: 20%;
  }
  .img7 {
    bottom: -4%;
    right: 20%;
    width: 35%;
  }

  article {
    width: 38%;
    padding: 6% 0;
    h2 {
      padding-top: 70%;
    }
    p {
      font-size: clamp(1rem, 0.9163rem + 0.3153vw, 1.2rem);
      line-height: clamp(1.8rem, 1.7163rem + 0.3153vw, 2rem);
    }
    p:first-of-type {
      padding-bottom: 120%;
    }
    p:last-of-type {
      padding-bottom: 50%;
    }
  }
}

//SECTION:  The Golden Bear /////////////////////////////////
.goldenSection,
.poppySection {
  position: relative;
  padding-top: 15%;
  padding-bottom: 50%;
  img {
    position: absolute;
  }
  .imgBearLeft {
    top: 58%;
    left: 8%;
    width: 50%;
    z-index: 5;
  }
  .imgBearRight {
    top: 66%;
    left: 53%;
    width: 28%;
    z-index: 10;
  }
  .imgPoppyLeft {
    top: 59%;
    left: 16%;
    width: 28%;
    z-index: 10;
  }
  .imgPoppyRight {
    bottom: 6%;
    right: 8%;
    width: 55%;
    z-index: 5;
  }
  .imgAnimation {
    bottom: 77%;
    right: -9%;
    width: 36%;
    z-index: 7;
    animation-name: rotieren;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    @keyframes rotieren {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

 

  .leftArticle {
    width: 48%;
    .pSmall {
      padding-bottom: 1em;
    }
    h2 {
      padding-right: 35%;
    }
  }
  blockquote {
    width: 52%;
    p.quoteAutor {
      font-size: clamp(1rem, 0.8744rem + 0.4729vw, 1.3rem);
      padding-top: 4%;
    }
  }
}

//SECTION:  The Poppy Bear /////////////////////////////////
.poppySection {
  padding-top: 31%;
  padding-bottom: 70%;
  overflow:hidden;
}

//SECTION:  Join us /////////////////////////////////
.joinSection {
  padding-top: 7%;
  padding-bottom: 4%;
  position: relative;
  overflow: hidden;

  .joinArticle {
    width: 48%;
    .joinArticleText {
      font-size: 2.2rem;
      line-height: 1.5em;
      padding-top: 3%;
    }
    .buttonRSVP {
      margin: 5% 0;
    }
  }
}

//SECTION:  Join us - ANIMATION //////////////
.joinSection .marquee {
  display: none;
}
.joinAnimationText {
  white-space: nowrap;
  color: #000;
  background-color: #fff;
  font-family: Larish, serif;
  font-size: 6rem;
  transform: rotate(45deg);
  span {
    color: white;
    -webkit-text-stroke: 2px black;
  }

  animation-name: diagonalAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  position: absolute;

  @keyframes diagonalAnimation {
    from {
      top: -450px;
      right: -500px;
    }
    to {
      top: 800px;
      right: -1750px;
    }
  }
}

//FOOTER /////////////////////////////////
.footerSection {
  justify-content: space-between;
  align-items: center;
  padding-top: 12%;
  text-align: right;
  .socialArticle {
    text-align: left;
    p {
      padding: 5% 0 0;
    }
    .socialContainer {
      padding-bottom: 2%;
      i {
        color: white;
        font-size: 1.5rem;
      }
    }
  }
  img {
    width: 20%;
  }
}

//////////////////////////////////////////
// MEDIA QUERIES - Desktop 1024px Version
//////////////////////////////////////////

@media (max-width: 1024px) {
  .stuckSection article {
    width: 43%;
  }
  .joinSection .joinArticle {
    width: 100%;
  }
  .joinSection .joinAnimationText {
    display: none;
  }
  .joinSection .marquee {
    display: block;
    overflow: hidden;
    color: #000;
    font-size: clamp(2rem, 1.5813rem + 1.5764vw, 3rem);
    background-color: #fff;
    span {
      color: white;
      -webkit-text-stroke: 2px black;
    }
    .marquee__inner {
      display: flex;
      .marquee__line {
        flex-shrink: 0;
        padding: 5px 15px;
        animation-name: marqueeLine;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
      @keyframes marqueeLine {
        from {
          transform: translateX(0);
        }
        to {
          transform: translateX(-100%);
        }
      }
    }
  }
}

/////////////////////////////////
// MEDIA QUERIES - TABLET Version
/////////////////////////////////

@media (max-width: 768px) {
  .goldenSection.flexContainerCenter,
  .poppySection.flexContainerCenter,
  .joinSection,
  .stuckSection.flexContainerCenter {
    display: block;
  }
  .goldenSection.flexContainerCenter .leftArticle,
  .poppySection.flexContainerCenter .leftArticle,
  .joinSection .joinArticle,
  .stuckSection.flexContainerCenter article {
    width: 100%;
    h2 {
      font-size: 3rem;
    }
  }
  .goldenSection blockquote,
  .poppySection blockquote {
    width: 100%;
    p {
      font-size: 1.5rem;
    }
  }

  .headerSection {
    h1 {
      font-size: 5rem;
    }
  }

  .heroSection {
    h1 {
      font-size: 3.5rem;
    }
    .pBig {
      font-size: 4rem;
    }
  }

  .stuckSection.flexContainerCenter {
    display: flex;
    flex-wrap: wrap;
    .stuckImgContainer {
      display: grid;
      gap: 2%;
      grid-auto-flow: column;
      grid-auto-columns: 27%;
      overflow-x: auto;
      overscroll-behavior-inline: contain;

      img,
      .img1,
      .img2,
      .img3,
      .img4,
      .img5,
      .img6,
      .img7 {
        position: relative;
        top: 0;
        left: 0;
        inline-size: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
      }
    }

    .snaps-inline {
      scroll-snap-type: inline mandatory;
      scroll-padding-inline: 1rem;
    }
    .snaps-inline > * {
      scroll-snap-align: start;
    }

    article h2,
    article p {
      padding: 1% 8%;
    }
  }
}

/////////////////////////////////
// MEDIA QUERIES - Mobile Version
/////////////////////////////////

@media (max-width: 425px) {
  .headerSection {
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.1rem;
      width: 80%;
      text-align: center;
      padding: 4% 0;
    }
  }
  .heroSection {
    background-size: 70%;
    h1 {
      font-size: 2.5rem;
    }
  }

  .goldenSection.flexContainerCenter,
  .poppySection.flexContainerCenter {
    .leftArticle h2 {
      font-size: 2.3rem;
      padding-right: 0;
    }
    blockquote .quoteText {
      font-size: 1.2rem;
    }
  }
  .goldenSection .imgBearLeft {
    top: 69%;
    left: 8%;
    width: 57%;
  }
  .goldenSection .imgBearRight {
    top: 77%;
    left: 53%;
    width: 40%;
  }
  .poppySection .imgPoppyLeft {
    top: 67%;
    left: 8%;
    width: 38%;
  }

  .stuckSection.flexContainerCenter {
    .stuckImgContainer {
      grid-auto-columns: 65%;
    }
    article h2 {
      font-size: 2.3rem;
      padding-bottom: 1rem;
    }
  }

  .joinSection .joinArticle .joinArticleText {
    font-size: 1.2rem;
  }

  .footerSection.flexContainer {
    display: block;
    padding-bottom: 1rem;

    .socialArticle {
      padding: 5% 0;
    }
    .logos {
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        width: 30%;
      }
    }
  }
}
